<div class="p-20 px-28">
    <div class="grid grid-cols-12 gap-3">
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />    
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />        
        <app-user-card />
        <app-user-card />
        <app-user-card />
        <app-user-card />
    </div>
</div>